.product-details {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-5);
  margin-top: var(--size-16);
  justify-content: center;
}

.product-details__image {
  min-height: 350px;
  min-width: 250px;
}

.product-details__data {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.product-details__data > div:last-of-type {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-5);
}

.product-details__data > div:last-of-type > span {
  font-size: var(--size-8);
}
