.product-price {
  font-weight: 500;
  font-size: var(--size-6);
}

.product-price__unit {
  font-size: var(--size-3);
}

.product-price__prev {
  position: relative;
  color: var(--color-grey-500);
  font-size: var(--size-4);
}

.product-price__prev::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 0.5px;
  background-color: var(--color-grey-500);
}

.product-price__discount {
  display: inline-block;
  background-color: var(--color-primary-800);
  color: var(--color-white);
  border-radius: 50%;
  padding: var(--size-1);
  font-size: var(--size-3);
  margin-right: var(--size-1);
}
