html {
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}

body {
  /* HERE ADD THE COLORS */

  /* HERE ADD THE SIZES */

  /* HERE ADD THE RADIUS */

  /* HERE ADD THE BOX-SHADOW */

  margin: 0;
  padding: 0;
  text-align: right;
  direction: rtl;
  font-family: IRANSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}
