.app-bar {
  background-color: var(--color-white);
  position: fixed;
  padding: 0 var(--size-6);
  left: 0;
  right: 0;
  box-shadow: 0 7px 8px 0 rgb(0, 0, 0, 4%);
  z-index: 2;
  min-height: 82px;
  display: flex;
  align-items: stretch;
}

.layout__toolbar {
  height: 100px;
  width: 100%;
}

.app-bar nav {
  display: flex;
  flex-basis: 100%;
  gap: var(--size-6);
  padding: var(--size-6) 0;
  align-items: center;
  /* max-width: 1200px; */
}

.app-bar nav > a:first-child {
  display: flex;
}

.app-bar__link {
  font-size: var(--size-4);
  transition: all 200ms ease-in-out;
}

.app-bar__link:hover {
  color: var(--color-primary-700);
}

.app-bar__link--active {
  color: var(--color-primary-600);
  font-weight: bold;
}

.app-bar__cart {
  position: relative;
  margin-right: auto;
}

.app-bar__cart > span {
  font-size: var(--size-3);
  position: absolute;
  background-color: var(--color-primary-800);
  color: var(--color-white);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 0;
  transform: translateY(-40%);
  right: -10px;
}
